@media screen and (max-width:576px){
  .emargency{
    display: none;
  }
  .banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  .banner p{
    padding: 10px;
  }
  .navcopy{
    display: flex;
    padding: 4px 6px;
    border-radius: 15px;

  }
  .mainsection{
    display: flex;
    flex-direction: column-reverse;
  }
} 
